mat-card-content {
    text-align: center;
}

mat-card-footer {
    text-align: center;
}

mat-card-header {
    display: flex;
    justify-content: center;
}

.mat-card {
    border: 5px solid #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
div {
    margin: 10px;
}